@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
/*Variables*/
:root{
  --green-color:#7ACC2D;
  --white-color: white;
  --black-color: #313337;
  --normal:12px;

  /* Espaciado */
  --space:10px;
  /* box shadow */
  --box: 0 0 2px #c1bcbc;
}


html,body{
  padding: 0px;
  margin: 0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}

nav{
  display: flex; /*Ayuda a pasar de  vertical a horizontal */
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color); 
  justify-content: space-between; /*Separa los div en grupo */
  align-items: center; /*Sirve para alinear el TEXTTO*/
}

nav ul{
  display: flex;
}

nav li{
  padding-left: 20px;
  list-style:none; /*Quitar el punto de la lista*/
}

nav li a {
  color:var(--black-color);
  text-decoration: none; /*Quita el subrayado del ancla*/
}

nav li a:hover{ /*Al apuntar con el clik cambia el color del enlace*/
  color:var(--white-color);

}
/* -------------------------MAIN SECTION */

.main_section{
  padding:15%;
  text-align:center; /*Alinea hacia el centro*/ 

}


.products{
  background-image: url("../images/curve.png");  /*Atributo que permite traer un imagen de la carpeta de images*/
  height: 50px;
  background-size: cover; /*ocupe el tamaño del div que tiene*/
  background-position: center top;
  padding:15%;
  display: flex;
}

.product{
  padding: var(--space);  
  margin-top: -260px;

}


.product .content{
  background-color:var(--white-color);
  padding: 15px;
  box-shadow:var(--box);/*para dar sombra x y grosor y color*/
}

.img_content{
  text-align: center; 
}

.main_button{
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: 17px; /*Tamaño de la fuente*/
  color:var(--white-color);
  border:0;
  cursor: pointer; /*Para poner el puntero como Mano*/
  border-radius: 2px; /*Anchor del borde*/
}

.main_button:hover{
  background-color: #5e8e22; /*Color cambia al pasar el mouse*/
}

/* Mi parte */
/*Feature*/
.feature{
  padding: 20px;
  display: flex; 
}

.feature-content{
  justify-content: space-between;
  padding: 80px;
}

 h2{
  text-align: center;
}

/*mebtions*/

.mentions{
  padding:5px ;
  display: flex;
}

.content-mention{
  justify-content: space-between;
  padding: 20px;

 
}

hr{
  margin:0 auto; /*Para que la liena no tenga una margen*/
}